

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Panier</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove">Supprimer</th>
                                <th class="product-image">Image</th>
                                <th class="product-name">Nom</th>
                                <th class="product-price">Prix</th>
                                <th class="product-quantity">Quantité</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cart.items" class="table-body-row">
                                <td class="product-remove"><a (click)="deleteProduct(item.productId._id)"><i class="fa fa-close"></i></a></td>
                                <td class="product-image"><img src='{{"http://localhost:3000/uploads/"+item.productId.imageURL}}'></td>
                                <td class="product-name">{{ item.productId.name }}</td>
                                <td *ngIf="item.productId.promotion>0 ; else elseBlock" class="product-price">{{ item.productId.promotion  }} Dinar</td>
                                <ng-template class="product-price" #elseBlock><td>{{ item.productId.price }} Dinar</td></ng-template>
                                <td class="product-quantity">{{ item.quantity }}</td>

                                <td *ngIf="item.productId.promotion>0 ; else elseBlock" class="product-price">{{ item.productId.promotion* item.quantity  }} Dinar</td>
                                <ng-template class="product-price" #elseBlock><td>{{ item.productId.price* item.quantity }} Dinar</td></ng-template>
                                
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>{{total}} Dinar</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Expédition: </strong></td>
                                <td>8 Dinar</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total à payer: </strong></td>
                                <td>{{total+8 }} Dinar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="coupon-section">
                    
                    <div class="coupon-form-wrap">
                        <form action="index.html">
                            <p><input type="submit" (click)="commander()" value="Commonder"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cart -->
