<!--<footer class="footer-container">
  <div class="footer-logo">
    <a href="#"><div class="logo"></div></a>
  </div>
  <div class="footer-content">
    <ul class="list">
      <li class="liens">Liens</li>
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Boutique</a></li>
      <li><a href="#">A propos</a></li>
    </ul>
    <ul class="list">
      <li class="aideetservices">Aide et Services</li>
      <li><a href="#">Options de paiement</a></li>
      <li><a href="#">Les Politiques de confidentialité</a></li>
      <li><a href="#">Livraison et retours</a></li>
    </ul>
    <ul class="social-icons">
      <li class="contactezNous">Contactez-Nous</li>
      <li><a href="#" class="instagram"></a></li>
      <li><a href="#" class="facebook"></a></li>
      <li><a href="#" class="linkedin"></a></li>
      <li><a href="#" class="pinterest"></a></li>
    </ul>
  </div>
</footer>
<app-down-footer></app-down-footer>
-->


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<footer class="footer">
  <div class="container">
      <div class="row">
          <!-- Logo Section -->
          <div class="col-md-3 col-12">
              <div class="logo">
                 <a [routerLink]="['/']"> <img src="assets/images/logowood.png"  width="200"> </a> 
              </div>
          </div>
          <!-- Links Section -->
          <div class="col-md-3 col-12">
              <h5><b>Liens</b></h5>
              <ul class="list-unstyled">
                  <li><a href="#">Accueil</a></li>
                  <li><a href="#">Boutique</a></li>
                  <li><a href="#">À propos</a></li>
              </ul>
          </div>
          <!-- Help and Services Section -->
          <div class="col-md-3 col-12">
              <h5><b> Aide et Services </b></h5>
              <ul class="list-unstyled">
                  <li><a href="#">Options de paiement</a></li>
                  <li><a href="#">Les politiques de confidentialité</a></li>
                  <li><a href="#">Livraison et retours</a></li>
              </ul>
          </div>
          <!-- Contact Section -->
          <div class="col-md-3 col-12">
              <h5><b>Contactez-Nous</b></h5>
              <a href="#"><img src="assets/images/instagram.png"  width="28"></a>
              <a href="#"><img src="assets/images/facebook.png"  width="28"></a>
              <a href="#"><img src="assets/images/linkedin.png"  width="28"></a>
              <a href="#"><img src="assets/images/pinterest.png"  width="28"></a>
          </div>
      </div>
  </div>
</footer>
